/* lato-300 - latin */
@font-face {
    font-family: 'Lato Light';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/lato-v16-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Lato Light'), local('Lato-Light'),
         url('assets/fonts/lato-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/lato-v16-latin-300.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/lato-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/lato-v16-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-regular - latin */
  @font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('assets/fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
         url('assets/fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato Black';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/lato-v16-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Lato Black'), local('Lato-Black'),
         url('assets/fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/lato-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/lato-v16-latin-900.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/lato-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/lato-v16-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }
    *{
    padding: 0;
    margin: 0;
  }
	html{
    font-size: 10px;
  }
	body{
    font-size: 2rem;
    font-family: 'Lato', Arial, sans-serif;
}
   .container {
   width:940px;
   margin: 0 auto;
   padding-left: 40px;
   padding-right: 40px;
}
	header{
    height: 89px;
    background-color: #2d303a;
    border-bottom:6px solid#323746;
    
}
	.header-top{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

	.logo{
    text-decoration: none;
    font-family: 'Lato Bold', Arial, sans-serif;
    font-size: 2.5rem;
    line-height: 2.1;
    color: #fff;
    text-transform: uppercase;
    display:block;
    width:115px;
    margin: 20px 0;
    letter-spacing: -0.022em;
    align-self: center;
}
	.logo::after{
    content:"*";
    color:#f06c64;
}
	.header__navigation{
    list-style-type: none;
    padding:10px 0;
    align-self: center;
    
}
	.navigation li{
    display: inline-block;
    margin-right:13px;
}
	.navigation li:last-child{
    margin-right: 0;
}
	.navigation li:not(:last-child)::after{
    content: "\00B7";
    color:#494e62;
    margin-left: 13px;
    font-family: 'Lato Bold', Arial, sans-serif;
    font-size: 1.25rem;
}
	.navigation li a{
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    font-family: 'Lato Bold', Arial, sans-serif;
    font-size: 1.25rem;
    letter-spacing: -0.036em;
    line-height: 1;
}
	.navigation li a:hover{
    color: #f06c64;
}
	.promo-slider{
    height: 595px;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
}
	.promo-slider .container{
    position:relative;
}
	button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    padding:8px;
}
	.arrow {
    border: solid #ca4549;
    border-width: 0 5px 5px 0;
    border-radius: 3px;
    position: absolute;
    top:283px;
}
	.arrow:hover{
    opacity:0.4;
    cursor: pointer;
}
	.previous{
    transform: rotate(135deg);
    left:45px;
}
	.next{
    transform: rotate(-45deg);
    right:42px;
}
	.phone{
    position: absolute;
    background-image: url('assets/img/iPhone Vertical.png');
    background-repeat: no-repeat;
    width: 240px;
    height: 483px;
    left:112px;
    top:53px;
}
	.phone::after{
    content: "";
    position: absolute;
    background-image: url('assets/img/iPhone Horizontal.png');
    background-repeat: no-repeat;
    width: 483px;
    height: 240px;
    left:313px;
    top:121px;
}