/* lato-300 - latin */

@font-face {
    font-family: 'Lato Light';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/lato-v16-latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Lato Light'), local('Lato-Light'), url('assets/fonts/lato-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/lato-v16-latin-300.woff') format('woff'), /* Modern Browsers */
    url('assets/fonts/lato-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/lato-v16-latin-300.svg#Lato') format('svg');
    /* Legacy iOS */
}


/* lato-regular - latin */

@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/lato-v16-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'), url('assets/fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('assets/fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/lato-v16-latin-regular.svg#Lato') format('svg');
    /* Legacy iOS */
}


/* lato-700 - latin */

@font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/lato-v16-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'), url('assets/fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
    url('assets/fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/lato-v16-latin-700.svg#Lato') format('svg');
    /* Legacy iOS */
}


/* lato-900 - latin */

@font-face {
    font-family: 'Lato Black';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/lato-v16-latin-900.eot');
    /* IE9 Compat Modes */
    src: local('Lato Black'), local('Lato-Black'), url('assets/fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/lato-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/lato-v16-latin-900.woff') format('woff'), /* Modern Browsers */
    url('assets/fonts/lato-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/lato-v16-latin-900.svg#Lato') format('svg');
    /* Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
	scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    font-family: "Lato", Arial, sans-serif;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

header {
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid#323746;
	/*sticky header for scroll*/
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
}

.header-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.logo {
    text-decoration: none;
    font-family: "Lato Bold", Arial, sans-serif;
    font-size: 2.5rem;
    line-height: 2.1;
    color: #fff;
    text-transform: uppercase;
    display: block;
    width: 115px;
    margin: 20px 0;
    letter-spacing: -0.022em;
    align-self: center;
}

.logo::after {
    content: "*";
    color: #f06c64;
}

.header__navigation {
    list-style-type: none;
    padding: 10px 0;
    align-self: center;
}

.navigation li {
    display: inline-block;
    margin-right: 13px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation li:not(:last-child)::after {
    content: "\00B7";
    color: #494e62;
    margin-left: 13px;
    font-family: "Lato Bold", Arial, sans-serif;
    font-size: 1.25rem;
}

.navigation li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lato Bold", Arial, sans-serif;
    font-size: 1.25rem;
    letter-spacing: -0.036em;
    line-height: 1;
}
.navigation li a:not(.active) {
    color: #fff;
}
.active {
    color: #f06c64;
}
.navigation li a:hover {
    color: #f06c64;
}

.promo-slider {
    height: 595px;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
}

.promo-slider .container {
    position: relative;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    padding: 8px;
}

.arrow {
    border: solid #ca4549;
    border-width: 0 5px 5px 0;
    border-radius: 3px;
    position: absolute;
    top: 283px;
}

.arrow:hover {
    opacity: 0.4;
    cursor: pointer;
}

.previous {
    transform: rotate(135deg);
    left: 45px;
}

.next {
    transform: rotate(-45deg);
    right: 42px;
}

.phone {
    position: absolute;
    background-image: url('assets/img/iPhone Vertical.png');
    background-repeat: no-repeat;
    width: 240px;
    height: 483px;
    left: 112px;
    top: 53px;
}

.phone::after {
    content: "";
    position: absolute;
    background-image: url('assets/img/iPhone Horizontal.png');
    background-repeat: no-repeat;
    width: 483px;
    height: 240px;
    left: 313px;
    top: 121px;
}

.services {
    height: 494px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services__title {
    font-family: "Lato Black", Arial, sans-serif;
    font-size: 3.1rem;
    line-height: 0.55;
    color: #666d89;
    padding: 70px 0 28px 0;
    letter-spacing: -0.021em;
}

.services__description {
    font-family: "Lato Light", Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #767e9e;
    text-align: justify;
}

.layout-3-columns {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards {
    width: 301px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    /*margin-right:2px;*/
    overflow: hidden;
}

.cards__content {
    padding-left: 9px;
    width: 220px;
}

.cards__icon {
    width: 61px;
    height: 61px;
}

.cards__icon_pen {
    background-image: url('assets/img/pen.svg');
    background-repeat: no-repeat;
}

.cards__icon_bulb {
    background-image: url('assets/img/lightbulb.svg');
    background-repeat: no-repeat;
}

.cards__icon_heart {
    background-image: url('assets/img/heart.svg');
    background-repeat: no-repeat;
}

.cards__icon_phone {
    background-image: url('assets/img/phone.svg');
    background-repeat: no-repeat;
}

.cards__icon_bubble {
    background-image: url('assets/img/bubble.svg');
    background-repeat: no-repeat;
}

.cards__icon_star {
    background-image: url('assets/img/star.svg');
    background-repeat: no-repeat;
}

.cards__title {
    font-family: "Lato Black", Arial, sans-serif;
    font-size: 1.95rem;
    line-height: 0.7;
    text-align: justify;
    color: #666d89;
    padding-bottom: 13px;
    letter-spacing: -0.054em;
}

.cards__description {
    font-family: "Lato Regular", Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.83;
    text-align: justify;
    color: #767e9e;
    overflow: hidden;
}

.portfolio {
    height: 864px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
}

.portfolio__title {
    width: 121px;
    height: 23px;
    font-family: "Lato Black", Arial, sans-serif;
    font-size: 3.15rem;
    line-height: 0.62;
    letter-spacing: -0.03em;
    text-align: justify;
    color: #666d89;
    padding: 68px 0 23px 0;
}

.portfolio__description {
    font-family: "Lato Light", Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #767e9e;
    text-align: justify;
    padding-bottom: 8px;
}

.tag {
    font-family: "Lato Regular", Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: justify;
    color: #767e9e;
    padding: 2.5px 6.7px;
}

.tag:not(:first-child) {
    margin-left: 4px;
    padding: 2.5px 6px;
}

.tag:hover {
    cursor: pointer;
    color: #dedede;
    border-radius: 5px;
    border: solid 1px #c5c5c5;
}

.tag_bordered {
    border-radius: 5px;
    border: solid 1px #666d89;
}

.tag_selected {
    font-size: 1.2rem;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: justify;
    color: #dedede;
    border-radius: 5px;
    border: solid 1px #c5c5c5;
}

.layout-4-columns {
    margin-top: 18.5px;
    height: 621px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-block {
    width: 220px;
    height: 187px;
    border-radius: 3px;
    background-color: #464b5e;
    margin-bottom: 20px;
	cursor: pointer;
	order:0;
}

.outline:not(.layout-4-columns) {
    outline: #F06C64 solid 5px;
    transition: all 0.2s ease-out 0s;
}
.gallery-block:nth-child(1n+13) {
    display: none;
}

.item-1 {
    height: 100%;
    background-image: url('assets/img/portfolio_block/1.jpg');
    background-repeat: no-repeat;
}

.item-2 {
    height: 100%;
    background-image: url('assets/img/portfolio_block/2.jpg');
    background-repeat: no-repeat;
}

.item-3 {
    height: 100%;
    background-image: url('assets/img/portfolio_block/3.jpg');
    background-repeat: no-repeat;
}

.item-4 {
    height: 100%;
    background-image: url('assets/img/portfolio_block/4.jpg');
    background-repeat: no-repeat;
}

.item-5 {
    height: 100%;
    background-image: url('assets/img/portfolio_block/5.jpg');
    background-repeat: no-repeat;
}

.item-6 {
    height: 100%;
    background-image: url('assets/img/portfolio_block/6.jpg');
    background-repeat: no-repeat;
}

.item-7 {
    height: 100%;
    background-image: url('assets/img/portfolio_block/7.jpg');
    background-repeat: no-repeat;
}

.item-8 {
    height: 100%;
    background-image: url('assets/img/portfolio_block/8.jpg');
    background-repeat: no-repeat;
}

.item-9 {
    height: 100%;
    background-image: url('assets/img/portfolio_block/9.jpg');
    background-repeat: no-repeat;
}

.item-10 {
    height: 100%;
    background-image: url('assets/img/portfolio_block/10.jpg');
    background-repeat: no-repeat;
}

.item-11 {
    height: 100%;
    background-image: url('assets/img/portfolio_block/11.jpg');
    background-repeat: no-repeat;
}

.item-12 {
    height: 100%;
    background-image: url('assets/img/portfolio_block/12.jpg');
    background-repeat: no-repeat;
}

.about-us .layout-3-columns {
    margin-top: 44.5px;
}

.about-us {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about-us__title {
    font-family: "Lato Black", Arial, sans-serif;
    font-size: 3.15rem;
    font-weight: 900;
    line-height: 0.62;
    letter-spacing: -0.031em;
    color: #666d89;
    padding: 68px 0 27px 0;
}

.about-us__description {
    font-family: "Lato Light", Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: justify;
    color: #767e9e;
    overflow: hidden;
}

.cards-about {
    width: 300px;
}

.cards-about:nth-child(2n) {
    margin-right: 1px;
}

.cards__title {
    font-family: "Lato Black", Arial, sans-serif;
    font-size: 1.95rem;
    line-height: 0.7;
    text-align: justify;
    color: #666d89;
    padding-bottom: 13px;
    letter-spacing: -0.054em;
}

.cards__description {
    font-family: "Lato Regular", Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.83;
    text-align: justify;
    color: #767e9e;
    overflow: hidden;
	height: 64.8px;
}

.align__description {
    letter-spacing: -0.005em;
    /*line-height: 1.75;*/
}

.align-title {
    letter-spacing: -0.05em;
	height:13.6px;
    overflow: hidden;
    white-space: nowrap;
}

.cards__avatar {
    height: 300px;
    margin-bottom: 19px;
}

.ava-one {
    background-image: url('assets/img/team__block/photo-3.jpg');
}

.ava-two {
    background-image: url('assets/img/team__block/photo-2.jpg');
}

.ava-three {
    background-image: url('assets/img/team__block/photo.jpg');
}

.cards__social-icon {
    margin-left: 0.5px;
    margin-top: 22.7px;
    display: inline-block;
}

.cards__social {
    width: 32px;
    height: 32px;
    padding-right: 8px;
    display: inline-block;
    vertical-align: middle;
    background: url('assets/img/sprite-social.png');
}

.cards__social:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cards__social:last-child {
    padding-right: 0px;
}

.icon-fb {
    background-position: 0px 0px;
}

.icon-ggl {
    background-position: -40px 0px;
}

.icon-tw {
    background-position: -80px 0px;
}

.icon-linkedin {
    background-position: -120px 0px;
}

.contact {
    background-color: #f06c64;
    height: 648px;
    border-bottom: 6px solid #ea676b;
}

.contact__title {
    font-family: "Lato Black", Arial, sans-serif;
    font-size: 2.97rem;
    font-weight: 900;
    line-height: 0.62;
    text-align: justify;
    color: #f0d8d9;
    padding-top: 68px;
    padding-bottom: 27px;
}

.contact__description {
    font-family: "Lato Light", Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: justify;
    color: #f0d8d9;
    padding-bottom: 45px;
}

.layout-2-columns {
    display: flex;
    justify-content: space-between;
}

form {
    width: 619px;
}

input,
textarea {
    width: 100%;
    background-color: #d6564f;
    border: none;
    height: 38px;
    border-radius: 5px;
    margin-bottom: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 15px;
    color: #f0d8d9;
}

input[type="submit"] {
    width: 50%;
    color: #832e31;
    background-color: #ddccf3;
    font-family: "Lato Regular", Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1.83;
    padding: 0;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #ddccf3;
    background-color: #832e31;
}

input::placeholder,
textarea::placeholder {
    font-family: "Lato Regular", Arial, sans-serif;
    font-size: 1.2rem;
    /* line-height: 1.83;*/
    letter-spacing: normal;
    text-align: justify;
    color: #f48c8f;
}

textarea {
    resize: none;
    height: 202px;
    padding-top: 8px;
}
/****popup window*****/

#popup-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(10, 0, 5, 0.79);
    z-index: 999;
}

.popup-message {
    position: absolute;
    left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: rgba(242, 99, 104, 0.94);
    font-family: "Lato Light", Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: justify;
    color: #f0d8d9;
    padding: 20px;
    border-radius: 7px;
	width:40%;
	overflow-wrap: break-word;
}

.popup-message p {
    padding: 5px;
}

.hidden {
    display: none;
}
/*********end popup***********/
.contact-info {
    width: 300px;
}

.contact-info__title {
    font-family: "Lato Black", Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: normal;
    text-align: justify;
    color: #f0d8d9;
    padding-bottom: 10px;
}

.contact-info__description {
    font-family: "Lato Regular", Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.83;
    letter-spacing: -0.0025em;
    text-align: justify;
    color: #f0d8d9;
    padding-bottom: 25px;
}

.contact-info a {
    display: block;
    padding-bottom: 8px;
    text-decoration: none;
    font-family: "Lato Regular", Arial, sans-serif;
    font-size: 1.15rem;
    color: #f0d8d9;
    text-align: justify;
    letter-spacing: 0.017em;
}

.contact-info a:hover {
    color: rgb(46, 10, 177);
}

.icon-location {
    background: url('assets/img/location.png') no-repeat left center;
    padding-right: 21px;
    margin-left: 3px;
    padding-top: 2px;
}

.icon-phone {
    background: url('assets/img/phone-small.png') no-repeat left center;
    width: 11px;
    height: 11px;
    padding-right: 24px;
}

.icon-email {
    background: url('assets/img/mail.png') no-repeat left center;
    width: 13px;
    height: 8px;
    padding-right: 24px;
}

.footer__description {
    height: 76px;
    background-color: #2d303a;
}

.footer__description .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer__author {
    color: #767e9e;
    font-family: "Lato Regular", Arial, sans-serif;
    font-size: 1.25rem;
    letter-spacing: -0.036em;
    padding-left: 2.5px;
    line-height: 6;
    align-self: center;
}

.footer__social-icon {
    margin-left: 0.5px;
    margin-top: 22.7px;
    display: inline-block;
}

.footer__social {
    width: 32px;
    height: 32px;
    padding-right: 8px;
    display: inline-block;
    vertical-align: middle;
    background: url('assets/img/sprite-social.png');
}

.footer__social:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.footer__social:last-child {
    padding-right: 0px;
}

.icon-fb {
    background-position: 0px 0px;
}

.icon-ggl {
    background-position: -40px 0px;
}

.icon-tw {
    background-position: -80px 0px;
}

.icon-linkedin {
    background-position: -120px 0px;
}
/* media*/

@media screen and (min-width:768px) and (max-width:1019px) {
    body {
        min-width: 768px;
    }
    /*form*/
    form {
        width: 442px;
    }
    textarea {
        height: 159px;
    }
    .contact-info {
        width: 221px;
    }
    /*about us*/
    .container {
        max-width: 688px;
    }
    .cards-about {
        width: 219px;
    }
    .cards__avatar {
        height: 219px;
    }
    .ava-one {
        background-image: url('assets/img/team__block/photo-tablet768.jpg');
    }
    .ava-two {
        background-image: url('assets/img/team__block/photo-2_tablet768.jpg');
    }
    .ava-three {
        background-image: url('assets/img/team__block/photo-3_tablet768.jpg');
    }
    /*portfolio*/
    .portfolio {
        height: 1102px;
    }
    .gallery-block {
        width: 217px;
        height: 184px;
    }
    .item-1 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/1_tablet768.jpg');
    }
    .item-2 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/2_tablet768.jpg');
    }
    .item-3 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/3_tablet768.jpg');
    }
    .item-4 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/4_tablet768.jpg');
    }
    .item-5 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/5_tablet768.jpg');
    }
    .item-6 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/6_tablet768.jpg');
    }
    .item-7 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/7_tablet768.jpg');
    }
    .item-8 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/8_tablet768.jpg');
    }
    .item-9 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/9_tablet768.jpg');
    }
    .item-10 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/10_tablet768.jpg');
    }
    .item-11 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/11_tablet768.jpg');
    }
    .item-12 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/12_tablet768.jpg');
    }
    /*our services*/
    .services {
        height: 571px;
        padding-bottom: 64px;
    }
    /*slider*/
    .promo-slider {
        height: 452px;
    }
    .arrow {
        top: 50%;
    }
    .phone {
        background-image: url('assets/img/phone-vertical_tablet768.png');
        left: 83px;
		width:180.85px;
		height:353.74px;
    }
    .phone::after {
        background-image: url('assets/img/phone-horizontal_tablet768.png');
        left: 259px;
		width:364.21px;
		height:180.93px;
    }
}
/*375*/

@media screen and (min-width:375px) and (max-width:767px) {
    body {
        min-width: 375px;
    }
    header {
        height: 71px;
    }
    /*form*/
    .contact {
        height: 963px;
    }
    .contact__title {
        padding-top: 53px;
    }
    .contact-info__title {
        padding: 21px 0px 4px 0px;
    }
    .contact-info__description {
        padding-bottom: 16px;
    }
    .contact-info a {
        padding-bottom: 11px;
    }
    .contact__description {
        letter-spacing: 0.2px;
        text-align: left;
        padding-bottom: 26px;
    }
    .contact .layout-2-columns {
        flex-wrap: wrap;
    }
    form {
        width: 315px;
    }
    textarea {
        height: 159px;
        margin-bottom: 8px;
    }
    input {
        margin-bottom: 12px;
    }
    .contact-info {
        width: 315px;
    }
    input[type="submit"] {
        width: 100%;
        height: 50px;
    }
    /*footer*/
    .footer__author {
        display: none;
    }
    .footer__social-icon {
        margin: 22px auto;
    }
    /*about us*/
    .about-us {
        height: 1747px;
    }
    .about-us .layout-3-columns {
        margin-top: 54px;
    }
    .about-us__title {
        padding: 40px 0 29px 0;
    }
    .container {
        width: 315px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .cards-about {
        width: 314px;
        height: 440px;
        margin-bottom: 34px;
    }
    .cards__description {
        height: 40px;
    }
    .cards__social-icon {
        margin-top: 9px;
    }
    .cards__avatar {
        height: 314px;
    }
    .ava-one {
        background-image: url('assets/img/team__block/photo-mobile375.jpg');
    }
    .ava-two {
        background-image: url('assets/img/team__block/photo-2_mobile375.jpg');
    }
    .ava-three {
        background-image: url('assets/img/team__block/photo-3_mobile375.jpg');
    }
    /*portfolio*/
    .portfolio {
        height: 840px;
    }
    .portfolio__title {
        padding: 52px 0 22px 0;
    }
    .portfolio__description {
        padding-bottom: 14px;
    }
    .gallery-block {
        width: 151px;
        height: 128px;
        margin-bottom: 14px;
    }
    .layout-4-columns {
        height: 554px;
        margin-top: 24px;
        padding-bottom: 42px;
    }
    .item-1 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/1-phone375.jpg');
    }
    .item-2 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/2-phone375.jpg');
    }
    .item-3 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/3-phone375.jpg');
    }
    .item-4 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/4-phone375.jpg');
    }
    .item-5 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/5-phone375.jpg');
    }
    .item-6 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/6-phone375.jpg');
    }
    .item-7 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/7-phone375.jpg');
    }
    .item-8 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/8-phone375.jpg');
    }
    .gallery-block:nth-child(1n+9) {
        display: none;
    }
    /*our services*/
    .services {
        height: 992px;
        padding-bottom: 35px;
    }
    .services__title {
        padding: 37px 0 27px 0;
    }
    .layout-3-columns {
        margin-top: 61px;
    }
    .cards {
        height: 104px;
        margin-bottom: 15px;
    }
    /*slider*/
    .promo-slider {
        height: 209px;
    }
    button {
        padding: 7px;
        transform: translateY(-50%);
    }
    .arrow {
        top: 98.65px;
    }
    .previous {
        left: 12.76px;
    }
    .next {
        left: 344.29px;
    }
    .phone {
        background-image: url('assets/img/phone-vertical_mobile375.png');
        left: 39.62px;
        top: 13.72px;
        width: 88.3px;
        height: 177.61px;
    }
    .phone::after {
        background-image: url('assets/img/phone-horizontal_mobile375.png');
        left: 114.99px;
        top: 43.96px;
        height: 88.35px;
        width: 177.84px;
    }
	/*header*/
    .header-top {
        justify-content: space-between;
    }
    h1 {
        margin:0 auto;
		order: 2;
        z-index: 2;
    }
	.logo {
        transition: all 0.7s linear;
    }
	.logo.show {
        margin-left: -50%;
    }
    .header__navigation {
        background: #2D303A;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        width: 90vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: all 0.6s ease-in-out;
    }
	body.overlay::before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(10, 0, 5, 0.79);
        transition: all 0.6s ease-in-out;
        z-index: 100;
    }
    .header__navigation li {
        margin: 27px 0px;
        margin-right: 0;
    }
    .header__navigation li a {
        font-size: 2.4rem;
        display: block;
        padding-left: 21px;
    }
    .navigation li::after {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        padding: 10px;
		margin-top: 120px;
		width: 215px;
		transform: translate(-50%);
		margin-left: 50%;
    }
	/*burger*/
    .burger-menu {
        display: block;
        width: 25px;
        height: 40px;
        position: relative;
        order: 1;
        z-index: 2;
    }
    .burger-menu span,
    .burger-menu span::before,
    .burger-menu span::after {
        width: 25px;
        height: 2.4px;
        position: absolute;
        top: 10px;
        background-color: #FFFFFF;
        border-radius: 5px;
        left: 0;
        transition: all 0.3s linear;
    }
    .burger-menu.show span {
        transform: rotate(-90deg);
        top: 17px;
    }
    .burger-menu.show span::before {
        transform: rotate(180deg);
    }
    .burger-menu.show span::after {
        transform: rotate(-180deg);
    }
    .burger-menu span::before,
    .burger-menu span::after {
        content: '';
    }
    .burger-menu span::before {
        top: 8px;
    }
    .burger-menu span::after {
        top: 16px;
    }
    .header__navigation.show {
        display: block;
        left: 0;
    }
	
}
/*320*/
@media screen and (min-width:320px) and (max-width:374px){
    body {
        min-width: 375px;
    }
    header {
        height: 71px;
    }
    /*form*/
    .contact {
        height: 963px;
    }
    .contact__title {
        padding-top: 53px;
    }
    .contact-info__title {
        padding: 21px 0px 4px 0px;
    }
    .contact-info__description {
        padding-bottom: 16px;
    }
    .contact-info a {
        padding-bottom: 11px;
    }
    .contact__description {
        letter-spacing: 0.2px;
        text-align: left;
        padding-bottom: 26px;
    }
    .contact .layout-2-columns {
        flex-wrap: wrap;
    }
    form {
        width: 315px;
    }
    textarea {
        height: 159px;
        margin-bottom: 8px;
    }
    input {
        margin-bottom: 12px;
    }
    .contact-info {
        width: 315px;
    }
    input[type="submit"] {
        width: 100%;
        height: 50px;
    }
    /*footer*/
    .footer__author {
        display: none;
    }
    .footer__social-icon {
        margin: 22px auto;
    }
    /*about us*/
    .about-us {
        height: 1747px;
    }
    .about-us .layout-3-columns {
        margin-top: 54px;
    }
    .about-us__title {
        padding: 40px 0 29px 0;
    }
    .container {
        width: 315px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .cards-about {
        width: 314px;
        height: 440px;
        margin-bottom: 34px;
    }
    .cards__description {
        height: 40px;
    }
    .cards__social-icon {
        margin-top: 9px;
    }
    .cards__avatar {
        height: 314px;
    }
    .ava-one {
        background-image: url('assets/img/team__block/photo-mobile375.jpg');
    }
    .ava-two {
        background-image: url('assets/img/team__block/photo-2_mobile375.jpg');
    }
    .ava-three {
        background-image: url('assets/img/team__block/photo-3_mobile375.jpg');
    }
    /*portfolio*/
    .portfolio {
        height: 840px;
    }
    .portfolio__title {
        padding: 52px 0 22px 0;
    }
    .portfolio__description {
        padding-bottom: 14px;
    }
    .gallery-block {
        width: 151px;
        height: 128px;
        margin-bottom: 14px;
    }
    .layout-4-columns {
        height: 554px;
        margin-top: 24px;
        padding-bottom: 42px;
    }
    .item-1 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/1-phone375.jpg');
    }
    .item-2 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/2-phone375.jpg');
    }
    .item-3 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/3-phone375.jpg');
    }
    .item-4 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/4-phone375.jpg');
    }
    .item-5 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/5-phone375.jpg');
    }
    .item-6 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/6-phone375.jpg');
    }
    .item-7 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/7-phone375.jpg');
    }
    .item-8 {
        height: 100%;
        background-image: url('assets/img/portfolio_block/8-phone375.jpg');
    }
    .gallery-block:nth-child(1n+9) {
        display: none;
    }
    /*our services*/
    .services {
        height: 992px;
        padding-bottom: 35px;
    }
    .services__title {
        padding: 37px 0 27px 0;
    }
    .layout-3-columns {
        margin-top: 61px;
    }
    .cards {
        height: 104px;
        margin-bottom: 15px;
    }
    /*slider*/
    .promo-slider {
        height: 209px;
    }
    button {
        padding: 7px;
        transform: translateY(-50%);
    }
    .arrow {
        top: 98.65px;
    }
    .previous {
        left: 12.76px;
    }
    .next {
        left: 344.29px;
    }
    .phone {
        background-image: url('assets/img/phone-vertical_mobile375.png');
        left: 39.62px;
        top: 13.72px;
        width: 88.3px;
        height: 177.61px;
    }
    .phone::after {
        background-image: url('assets/img/phone-horizontal_mobile375.png');
        left: 114.99px;
        top: 43.96px;
        height: 88.35px;
        width: 177.84px;
    }
    /*header*/
    .header-top {
        justify-content: space-between;
    }
    h1 {
        align-items: center;
        margin: 0 auto;
        order: 2;
        z-index: 2;
    }
    .logo {
        transition: all 0.7s linear;
    }
    .logo.show {
        margin-left: -50%;
    }
    .header__navigation {
        background: #2D303A;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        width: 70vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: all 0.6s ease-in-out;
    }
    body.overlay::before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(10, 0, 5, 0.79);
        transition: all 0.6s ease-in-out;
        z-index: 100;
    }
    .header__navigation li {
        margin: 27px 0px;
        margin-right: 0;
    }
    .header__navigation li a {
        font-size: 2.4rem;
        display: block;
        padding-left: 61px;
    }
    .navigation li::after {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-top: 120px;
		width: 215px;
		transform: translate(-50%);
		margin-left: 50%;
    }
    /*burger*/
    .burger-menu {
        display: block;
        width: 25px;
        height: 40px;
        position: relative;
        order: 1;
        z-index: 2;
    }
    .burger-menu span,
    .burger-menu span::before,
    .burger-menu span::after {
        width: 25px;
        height: 2.4px;
        position: absolute;
        top: 10px;
        background-color: #FFFFFF;
        border-radius: 5px;
        left: 0;
        transition: all 0.3s linear;
    }
    .burger-menu.show span {
        transform: rotate(-90deg);
        top: 17px;
    }
    .burger-menu.show span::before {
        transform: rotate(180deg);
    }
    .burger-menu.show span::after {
        transform: rotate(-180deg);
    }
    .burger-menu span::before,
    .burger-menu span::after {
        content: '';
    }
    .burger-menu span::before {
        top: 8px;
    }
    .burger-menu span::after {
        top: 16px;
    }
    .header__navigation.show {
        display: block;
        left: 0;
    }
}


